.promo 
  .promo__block 
    .promo__block_exit 
      img(src='images/sprites/svg/exit.svg' alt='logo')
    .promo__block_title Отлично! Вот Ваш промокод!
    .promo__block_text Чтобы скопировать промокод, просто нажмите на него!
    .promo__block_copy 111
    .promo__block_info Текст успешно скопирован!
    