section.cards
  .container
    .card
     .scroll.row.flex-row.flex-nowrap
      .card__photo.logo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/first/logo.png", alt="logo")
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/first/1.png", alt="1")
        .card__photo_text.off
          |Laparet Onyx 
          br
          |Smoke
        .card__photo_text.on
          |Керамическая 
          br
          |плитка
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/first/2.png", alt="2")
        .card__photo_text.off
          |Коллекция Sfera 
          br
          |от Catalano
        .card__photo_text.on
          |Сантехника
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/first/3.png", alt="3")
        .card__photo_text.off
          |Плитка
          br
          |Kerama Marazzi
        .card__photo_text.on
          |Мебель
          br
          |для ванной
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/first/4.png", alt="4")
        .card__photo_text
          |Оборудование
          br
          |для ванны
     .card__text
       .row 
         .card__box.two  
          .card__text
           .card__text_title Скидка 7%, по промокоду 
           .card__text_descr.col-md-8.off
              ul 
               li На бренды #[strong Laparet, Kerama Marazzi, CATALANO] и #[strong TREEMME]
                br
                |максимальная #[strong скидка 5%.]
               li На бренд DYSON от 3 штук скидка 5%. 
           .card__text_descr.col-md-8.on
              ul 
               li На бренды #[strong Laparet, Kerama Marazzi,]
                br
                | #[strong CATALANO] и #[strong TREEMME] максимальная #[strong скидка 5%.]
               li На бренд DYSON от 3 штук скидка 5%. 
          .btn
           button.card__btn.col-md-3 Открыть промокод
             img(src="images/sprites/svg/Right.svg", alt="4")
    
    .card
     .scroll.row.flex-row.flex-nowrap
      .card__photo.logo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/second/logo.png", alt="logo")
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/second/1.png", alt="1")
        .card__photo_text Стулья
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/second/2.png", alt="2")
        .card__photo_text.off Барные стулья
        .card__photo_text.on
          |Барные
          br
          |стулья
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/second/3.png", alt="3")
        .card__photo_text.off Кресла и диваны
        .card__photo_text.on
          |Кресла 
          br
          |и диваны
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/second/4.png", alt="4")
        .card__photo_text Столы и стулья
     .card__text
       .row 
         .card__box.two  
          .card__text
           .card__text_title Cкидка 5%, по промокоду
           .card__text_descr.col-md-8.off
              |Дизайнерская мебель: стулья, кресла, диваны, столы.
              br
              |Скидка не суммируется с акциями компании.
           .card__text_descr.col-md-8.on 
              |Дизайнерская мебель: 
              br
              |стулья, кресла, диваны, столы.
              br
              |Скидка не суммируется с акциями компании.
          .btn
            button.card__btn.col-md-3 Открыть промокод
               img(src="images/sprites/svg/Right.svg", alt="4")
      
    .card
     .scroll.row.flex-row.flex-nowrap
      .card__photo.logo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/third/logo.png", alt="logo")
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/third/1.png", alt="1")
        .card__photo_text Раковины
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/third/2.png", alt="2")
        .card__photo_text Душевые кабины
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/third/3.png", alt="3")
        .card__photo_text Стиральные машины
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/third/4.png", alt="4")
        .card__photo_text
          |Душевые системы
          br
          |и смесители
     .card__text
       .row 
         .card__box.three  
          .card__text
           .card__text_title.off Киоск Сантехники, скидка 7% по промокоду
           .card__text_title.on Скидка 7% по промокоду
           .card__text_descr.col-md-8
              |Интернет-магазин сантехнического оборудования и отопления.
              br
              |Скидка не суммируется с акциями компании.
          .btn
            button.card__btn.col-md-3 Открыть промокод
               img(src="images/sprites/svg/Right.svg", alt="4")

    .card
     .scroll.row.flex-row.flex-nowrap
      .card__photo.logo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fourth/logo.png", alt="logo")
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fourth/1.png", alt="1")
        .card__photo_text Ванны
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fourth/2.png", alt="2")
        .card__photo_text 
          |Мебель для ванных
          br
          |комнат
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fourth/3.png", alt="3")
        .card__photo_text Душевые уголки
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fourth/4.png", alt="4")
        .card__photo_text Аксессуары для ванной
     .card__text
       .row 
         .card__box.two
          .card__text
           .card__text_title Скидка 7% по купону
           .card__text_descr.col-md-8.off.off576
              |Купон дает право на #[strong скидку 7%] на всю сантехнику #[strong Ravak.]
              br
              |Скидка не суммируется со стандартными акциями
              br
              |и предложениями компании! 
           .card__text_descr.col-md-8.on.on576
              |Купон дает право на #[strong скидку 7%]
              br
              | на всю сантехнику #[strong Ravak.]
              br
              |Скидка не суммируется со стандартными акциями.
          .btn
            button.card__btn.col-md-3 Получить купон
               img(src="images/sprites/svg/Right.svg", alt="4")

    .card
     .scroll.row.flex-row.flex-nowrap
      .card__photo.logo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fifth/logo.png", alt="logo")
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fifth/1.png", alt="1")
        .card__photo_text Прихожие
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fifth/2.png", alt="2")
        .card__photo_text Спальни
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fifth/3.png", alt="3")
        .card__photo_text Гостиные
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/fifth/4.png", alt="4")
        .card__photo_text Детские
     .card__text
       .row 
         .card__box.two 
          .card__text
           .card__text_title С-Мебель, скидки до 5% по купону
           .card__text_descr.col-md-8.off
              |На спальные гарнитуры #[strong Anrex.] На спальни #[strong Тейлор, Оливия,]
              br
              |спальные гарнитуры #[strong Магеллан, Линате.]
              br
              |Подробности уточняйте у менеджера при оформлении заказа.
           .card__text_descr.col-md-8.on
              |Cпальные гарнитуры #[strong Anrex, Магеллан, Линате.]
              br
              |Cпальни #[strong Тейлор, Оливия.]
              br
              |Подробности у менеджера при оформлении заказа.
          .btn
            button.card__btn.col-md-3 Получить купон
               img(src="images/sprites/svg/Right.svg", alt="4")

    .card
     .scroll.row.flex-row.flex-nowrap
      .card__photo.logo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/sixth/logo.png", alt="logo")
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/sixth/1.png", alt="1")
        .card__photo_text Обои
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/sixth/2.png", alt="2")
        .card__photo_text Товары для дома
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/sixth/3.png", alt="3")
        .card__photo_text Фотообои
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/sixth/4.png", alt="4")
        .card__photo_text Постельное белье
     .card__text
       .row 
         .card__box 
          .card__text
           .card__text_title Обои РУ, скидка 25% по купону
           .card__text_descr.col-md-8
              |Подберем обои по стилю.
              br
              |Скидка не суммируется с акциями компании.
          .btn
            button.card__btn.col-md-3 Получить купон
               img(src="images/sprites/svg/Right.svg", alt="4")

    .card
     .scroll.row.flex-row.flex-nowrap
      .card__photo.logo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/seventh/logo.png", alt="logo")
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/seventh/1.png", alt="1")
        .card__photo_text Печи
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/seventh/2.png", alt="2")
        .card__photo_text Котлы
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/seventh/3.png", alt="3")
        .card__photo_text Баня
      .card__photo.col-md-2.col-2.col-sm-2
        img(src="images/sprites/png/seventh/4.png", alt="4")
        .card__photo_text Дымоходы
     .card__text
       .row 
         .card__box 
          .card__text
           .card__text_title Печь РУ, скидка 5% по купону
           .card__text_descr.col-md-8
              |3 магазина каминов и печей.
              br
              |Скидка не суммируется с акциями компании.
          .btn
            button.card__btn.col-md-3 Получить купон
               img(src="images/sprites/svg/Right.svg", alt="4")

